input[type=text]{
  border:none;
  border-bottom: 3px solid rgb(58, 224, 80);
}
input[type=text]:focus{
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
     border-bottom: 1px solid rgb(58, 224, 80);
}
input[type=submit]{
  cursor: pointer;
  transition: 0.3s;
}
input[type=submit]:hover{
  transform: scale(1.3);
}
